* {
  margin: 0px;
  padding: 0px;
}

.float-left{
  float: left;
}


.heads{
  background-color: #e1e1e1;;
  /* width: 1200px; */
  margin: 0 auto; 
}

.heads-box{
  width: 1200px;
  margin: 0 auto; 
  justify-content: space-between;
  color: #333;
  align-items: center;
  height: 30px;
}
.welcome{
  display: inline-block;
  line-height: 30px;
}
.heads-applet{
  display: inline-block;
  line-height: 30px;
  margin: 0;
  float: right;
  /* background-color: green; */
}

.nav{
  /* display: flex; */
  justify-content: space-between;
  /* background-color: blue; */
  width: 1200px;
  height: 45px;
  margin: 0 auto;
}

.kebanPic{
  height: 42px;
  display: inline-block;
  float:left;
}
.nav-box{
  /* background-color: green; */
  display: inline-block;
  line-height: 30px;
  height: 40px;
  float: right;
}

.menuList{
  list-style: none;
  display: flex;
  font-size: 16px;
}

.comp{
  break-before: always;
  display: block;
}


.footer-main{
  height: 366px;
  background-color: #f1f1f1;
}

.footer-t{
  /* width: 1414px; */
  height: 366px;
  width: 1200px;
  margin: 0 auto;
  background-color: #f1f1f1;
  position: relative;

}
.nav-img{
  display: inline-block;
  line-height: 1;
  float: left;
  line-height: 71.5px;
}


ul li{
  /* display: inline-block; */
  margin: 10px;
}