.about{
    background-color:red;
    background-image: url('../../assets/images/about_banner.png');
}
.about-main{
    margin: 0 auto;
    width: 1200px;
}
.cardImages{
    margin-top: 50px;
    width: 1200px;
}