
.footer-t{
  display: flex;
  /* margin-left: 992px; */
  margin: 0 auto;
  width: 1200px;
}

.footer-img{
    width: 400px;
    height: 299px;
    display: flex ;
    justify-content: space-between;
    margin-right: 0;
    /* width: 30%; */
  }
  
  .footer-qr-box{
    margin-top: 60px;
  }
  
  .footer-qr-box .qr-content{
    font-size: 14px;
    font-weight: 500;

    line-height: 20px;
  }

  .footer-box{
    position: relative;
  }