.helpcenter {
  width: 100%;
  background-color: #fff;
}
.helpcenter .helpcenter-middle {
  border: 1px solid #ccc;
  width: 1200px;
  margin: 120px auto;
}
.helpcenter .helpcenter-middle .helpcenter-call {
  display: flex;
  justify-content: center;
  margin: 60px auto;
}
.helpcenter .helpcenter-middle .helpcenter-call .helpcenter-call-box01 {
  margin-left: 50px;
}
.helpcenter .helpcenter-middle .helpcenter-call .helpcenter-call-box01 p {
  line-height: 25px;
  color: #666;
  font-size: 15px;
}
.helpcenter .helpcenter-middle .helpcenter-call .helpcenter-call-box01 p span {
  color: #fb7f1b;
  font-weight: 100;
}
.helpcenter .helpcenter-middle .helpcenter-henxian {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background-color: #ccc;
}
.helpcenter .helpcenter-middle .helpcenter-company {
  display: flex;
  justify-content: center;
  margin: 60px auto 130px;
}
.helpcenter .helpcenter-middle .helpcenter-company .helpcenter-call-box02 {
  margin-left: 50px;
}
.helpcenter .helpcenter-middle .helpcenter-company .helpcenter-call-box02 p {
  line-height: 25px;
  color: #666;
  font-size: 15px;
}
.helpcenter .helpcenter-middle .helpcenter-company .helpcenter-call-box02 p span {
  color: #fb7f1b;
  font-weight: 100;
}
