.banner {
  height: 900px;
  background-color: #c92a1f;
  position: relative;
}
.banner-image {
  width: 1200px;
  height: 900px;
  margin: 0 auto;
}
.banner-text {
  height: 550px;
  margin-left: 42px;
  width: 528px;
  background-color: "#c92a1f";
  position: absolute;
  top: 260px;
}

.banner-fixation {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.banner-fixation :first-child {
  height: 62px;
  font-size: 44px;
  font-weight: 700;
  /* background-color: #c92; */
  color: #ffb05c;
  line-height: 62px;
  display: inline-block;
}
.banner-fixation :nth-child(2) {
  color: #ffb05c;
  margin: 23px 0 29px;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.banner-box {
  height: 4751px;
  width: 353px;
}
.tiger {
  margin: 0 auto;
}
